.bottom-chatbox {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 300px;
  height: 300px;        /* SQUARE */

  background: #fff8cc;
  border: 1px solid #e0d48a;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  z-index: 1100;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* Header */
.chatbox-header {
  background: #ffcc00;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #e0d48a;
}

/* Body */
.chatbox-body {
  flex: 1;
 overflow-y: auto;
  padding: 8px;
}

/* Chat row */
.chat-user {
  display: flex;
  align-items: center;
  background: #fff3b0;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 6px;
}

.chat-user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}

.chat-user p {
  margin: 0;
  font-size: 12px;
}

/* Badge */
.badge {
  margin-left: auto;
  background: green;
  color: white;
  font-size: 11px;
  padding: 3px 7px;
  border-radius: 50%;
}

/* Footer */
.chatbox-footer {
  font-size: 12px;
  text-align: center;
  padding: 6px;
  border-top: 1px solid #e0d48a;
  background: #fff6b3;
}
